In [3]:
import pandas as pd
import numpy as np

In [51]:
global_edu = pd.read_csv("/home/blair/data_workspace/global_education/Global_Education.csv", encoding='ISO-8859-1')
global_edu.columns = global_edu.columns.str.replace('OOSR','')
# global_edu.columns = global_edu.columns.str.replace('Pre0','')
global_edu.columns = global_edu.columns.str.replace('_','')
global_edu.rename(columns={'Youth1524LiteracyRateMale': 'YouthLiteracyRateMale', 'Youth1524LiteracyRateFemale': 'YouthLiteracyRateFemale'}, inplace=True)
global_edu[:5]

,Countries and areas,Latitude,Longitude,Pre0PrimaryAgeMale,Pre0PrimaryAgeFemale,PrimaryAgeMale,PrimaryAgeFemale,LowerSecondaryAgeMale,LowerSecondaryAgeFemale,UpperSecondaryAgeMale,...,PrimaryEndProficiencyReading,PrimaryEndProficiencyMath,LowerSecondaryEndProficiencyReading,LowerSecondaryEndProficiencyMath,YouthLiteracyRateMale,YouthLiteracyRateFemale,BirthRate,GrossPrimaryEducationEnrollment,GrossTertiaryEducationEnrollment,UnemploymentRate
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,44,...,13,11,0,0,74,56,32.49,104.0,9.7,11.12
1,Albania,41.153332,20.168331,4,2,6,3,6,1,21,...,0,0,48,58,99,100,11.78,107.0,55.0,12.33
2,Algeria,28.033886,1.659626,0,0,0,0,0,0,0,...,0,0,21,19,98,97,24.28,109.9,51.4,11.70
3,Andorra,42.506285,1.521801,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7.20,106.4,0.0,0.00
4,Angola,11.202692,17.873887,31,39,0,0,0,0,0,...,0,0,0,0,0,0,40.73,113.5,9.3,6.89

In [72]:
LiteracyDataFrame = pd.DataFrame({
    'Countries_and_Areas': global_edu['Countries and areas'],
    'Male_Literacy_(Age: 15-24)': global_edu['YouthLiteracyRateMale'],
    'Female_Literacy_(Age: 15-24)': global_edu['YouthLiteracyRateFemale'],
})

LiteracyDataFrame

,Countries_and_Areas,Male_Literacy_(Age: 15-24),Female_Literacy_(Age: 15-24)
0,Afghanistan,74,56
1,Albania,99,100
2,Algeria,98,97
3,Andorra,0,0
4,Angola,0,0
...,...,...,...
197,Venezuela,0,0
198,Vietnam,98,98
199,Yemen,0,0
200,Zambia,93,92
201,Zimbabwe,0,0